<div class="opro">
  <%- if @client_apps.blank? -%>
    <h2>You have no applications.</h2>
  <%- else -%>
    <h2>Your Applications</h2>
    <% @client_apps.each do |client_app| %>
      <table>
        <tr><td>Name:   </td><td> <%= client_app.name       %></td></tr>
        <tr><td>Client Id:     </td><td> <%= client_app.app_id     %></td></tr>
        <tr><td>Client Secret: </td><td> <%= client_app.app_secret %></td></tr>
      </table>
      <%= link_to "edit", edit_oauth_client_app_path(client_app) %>
      <hr />
    <%- end -%>
  <%- end -%>
  <div>
    <%= link_to 'Register a new application', new_oauth_client_app_path %>
  </div>
</div>
