<div class="opro">
  <h2>Create An OAuth Client Application</h2>
  <ul>
    <% @client_app.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <div>
    <%= form_for @client_app, :url => oauth_client_apps_path do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, :placeholder => 'Application Name' %>
      <%= f.submit 'Create OAuth Client Application', :id => 'submitApp' %>
      <p>(you can change this name later)</p>
    <%- end -%>
  </div>

  <div>
    <%= link_to 'My Applications', oauth_client_apps_path %>
  </div>
</div>